body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #677788;
    text-align: left;
    background-color: #fff;
    width: 100% !important;
}

a {
    color: #289f5a;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a:hover {
    color: #289f5a !important;
}

.border-success{

    border-color: #289f5a !important;
}
/* Navbars */

nav {
    display: block;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1.75rem;
    padding-left: 1.75rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.navbar-light .navbar-brand {
    font-size: xx-large;
    padding-right: 1rem;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: black;
}

/* Drop menu */

.dropdown-item {
    font-size: large;
    background-color: white;
    color: gray;
}

.dropdown-item:hover {
    text-decoration: underline;
    color: black;
}

.dropdown-item:active {
    color: black;
    background-color: white;
}

/* Footer */

footer {
    background-color: #ededed;
    background-repeat: repeat;
    background-position: top left;
    background-attachment: scroll;
}

